body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.intro {
  max-width: 700px;
  margin: 0 auto 4em;
}

.birthdate-wrap {
  margin-bottom: 2em;
}

.birthdate_form-input {
  font-size: 1.5em;
  padding: 6px;
}

.life {
  margin-bottom: 8em;
}

.week {
  display: inline-block;
  vertical-align: middle;
  background-color: rgb(230, 230, 230);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 2px;
}

.week.has-been-lived {
  background-color: rgb(230, 0, 0);
}

.week.is-decade-birthday {
  background-color: rgb(0, 0, 230);
}

/* Media Queries */
@media (min-width: 900px) {
  .birthdate-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .birthdate_form {
    margin-right: 2em;
  }
}
