.container {
  width: 80%;
  margin: 0 auto;
}

.intro {
  max-width: 700px;
  margin: 0 auto 4em;
}

.birthdate_form {
  margin-bottom: 2em;
  text-align: center;
}

.birthdate_form-input {
  font-size: 1.5em;
  padding: 6px;
}

.life {
  margin-bottom: 8em;
}

.week {
  display: inline-block;
  background-color: #ddd;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 2px;
}

.week.has-been-lived {
  background-color: red;
}

.week.is-decade-birthday {
  background-color: blue;
}
